<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
	<meta charset="UTF-8">
	<title>Dungeons &amp; Dice</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.1/jquery.mobile.min.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />

	<!-- Underscore Templates -->

	<!-- Home -->
	<script id="home" type="text/template">
		<div id="menu" data-role="panel" data-display="overlay">
			<ul data-role="listview">
				<li><a href="#quick-roll" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Quick Roll</a></li>
				<li><a id="newroll" href="#roll-new" class="ui-btn ui-btn-icon-right ui-icon-plus">New Roll</a></li>
				<li><a href="#about" class="ui-btn ui-btn-icon-right ui-icon-info">About</a></li>
			</ul>
		</div>
		<div data-role="header">
			<a href="#menu" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-icon-notext ui-icon-bars">no text</a>
			<h1>Dungeons &amp; Dice</h1>
		</div>
		<div role="main" class="ui-content">
			<% if(collection.length > 0) { %>
				<ul data-role="listview" data-count-theme="a">
					<% _.each(collection, function(roll) { %>
						<li data-selectedroll="<%= roll.id %>" class="ui-li-has-alt ui-li-has-count dnd-roll-result">
							<a href="#roll" class="ui-btn">
								<%= roll.Name %>: <%= roll.DiceRollText %><span class="ui-li-count ui-body-a">-</span></a>
							<a href="#popup-menu<%= roll.id %>" id="btn-popup" data-rel="popup" class="ui-btn ui-btn-icon-notext ui-icon-carat-d ui-btn-a">no text</a>
							<div id="popup-menu<%= roll.id %>" data-role="popup" data-shadow="false" class="ui-popup">
								<div data-role="controlgroup" data-type="horizontal" data-selectedroll="<%= roll.id %>" data-mini="false">
									<a href="#delete" class="ui-btn ui-btn-icon-notext ui-icon-delete ui-btn-a">no text</a>
									<a href="#roll-edit" class="ui-btn ui-btn-icon-notext ui-icon-edit ui-btn-a">no text</a>
								</div>
							</div>
						</li>
					<% }); %>
			<% } else { %>
				<ul data-role="listview">
					<li>Add some rolls from the menu.</li>
			<% } %>
				</ul>
		</div>	
	</script>
	
	<!-- About -->
	<script id="about" type="text/template">
		<div data-role="header">
			<h1>About</h1>
			<a href="#" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-icon-notext ui-icon-carat-l">no text</a>
		</div>
		<div role="main" class="ui-content dnd-center company">
			<h2>Not to Scale Studio.</h2>
			<p>&copy; Copyright 2014.</p>
			<p>All rights reserved. Source code licenced under MIT licence.</p>
		</div>
	</script>

	<!-- Delete Roll -->
	<script id="delete-roll" type="text/template">
		<div data-role="header">
			<h1>Delete Roll</h1>
			<a href="#" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-icon-notext ui-icon-carat-l">no text</a>
		</div>
		<div role="main" class="ui-content dnd-center">
			<a href="#deleted" class="ui-shadow ui-btn ui-mini ui-corner-all">Confirm</a>
			<a href="#" class="ui-shadow ui-btn ui-mini ui-corner-all">Cancel</a>
		</div>
	</script>

	<!-- Quick Roll -->
	<script id="quick-roll" type="text/template">
		<div data-role="header">
			<h1>Quick Roll</h1>
			<a href="#" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-icon-notext ui-icon-carat-l">no text</a>
		</div>
		<div role="main" class="ui-content">
			<ul data-role="listview" data-count-theme="a">
				<li class="ui-li-has-count">
					<a href="#quick-roll" data-d="4" class="ui-btn">D4<span class="ui-li-count ui-body-a">-</span></a>
				</li>
				<li class="ui-li-has-count">
					<a href="#quick-roll" data-d="6" class="ui-btn">D6<span class="ui-li-count ui-body-a">-</span></a>
				</li>
				<li class="ui-li-has-count">
					<a href="#quick-roll" data-d="8" class="ui-btn">D8<span class="ui-li-count ui-body-a">-</span></a>
				</li>
				<li class="ui-li-has-count">
					<a href="#quick-roll" data-d="10" class="ui-btn">D10<span class="ui-li-count ui-body-a">-</span></a>
				</li>
				<li class="ui-li-has-count">
					<a href="#quick-roll" data-d="12" class="ui-btn">D12<span class="ui-li-count ui-body-a">-</span></a>
				</li>
				<li class="ui-li-has-count">
					<a href="#quick-roll" data-d="20" class="ui-btn">D20<span class="ui-li-count ui-body-a">-</span></a>
				</li>
				<li class="ui-li-has-count">
					<a href="#quick-roll" data-d="100" class="ui-btn">D100<span class="ui-li-count ui-body-a">-</span></a>
				</li>
			</ul>
		</div>
	</script>
	
	<!-- Roll Details -->
	<script id="roll-details" type="text/template">
		<div data-role="header">
			<h1>Roll Details</h1>
			<a href="#" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-icon-notext ui-icon-carat-l">no text</a>
		</div>
		<div role="main" class="ui-content">
			<form>
				<label for="txt-name" class="ui-hidden-accessible">Name</label>
				<input type="text" data-clear-btn="true", name="txt-name" value="<%= Name %>" placeholder="Name">
				<label for="txt-qty" class="ui-hidden-accessible">Quantity</label>
				<input type="number" data-clear-btn="true", name="txt-qty" value="<%= DiceRoll.qty %>" placeholder="Quantity">
				<select name="select-dice">
					<option value="4" <% if(DiceRoll.d == 4){ %> selected="selected" <% } %>>D4</option>
					<option value="6" <% if(DiceRoll.d == 6){ %> selected="selected" <% } %>>D6</option>
					<option value="8" <% if(DiceRoll.d == 8){ %> selected="selected" <% } %>>D8</option>
					<option value="10" <% if(DiceRoll.d == 10){ %> selected="selected" <% } %>>D10</option>
					<option value="12" <% if(DiceRoll.d == 12){ %> selected="selected" <% } %>>D12</option>
					<option value="20" <% if(DiceRoll.d == 20){ %> selected="selected" <% } %>>D20</option>
					<option value="100" <% if(DiceRoll.d == 100){ %> selected="selected" <% } %>>D100</option>
				</select>
				<fieldset class="dnd-center" data-role="controlgroup" data-type="horizontal">
					<input type="radio" name="radio-symbol" id="radio-minus" value="minus"<% if(DiceRoll.symbol == "minus"){ %>checked="checked" <% } %>>
					<label for="radio-minus">minus</label>
					<input type="radio" name="radio-symbol" id="radio-plus" value="plus"<% if(DiceRoll.symbol == "plus"){ %>checked="checked" <% } %>>
					<label for="radio-plus">plus</label>
				</fieldset>
				<label for="txtModifier" class="ui-hidden-accessible">Modifier</label>
				<input type="number" data-clear-btn="true", name="txt-modifier" value="<%= DiceRoll.modifier %>" placeholder="Modifier">
				<a href="#" data-role="button" class="save ui-shadow ui-btn ui-corner-all">Confirm</button></a>
			</form>
		</div>
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/jqm-config.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.1/jquery.mobile.min.js"></script>
	<script type="text/javascript" src="js/libs/underscore-min.js"></script>
	<script type="text/javascript" src="js/libs/backbone-min.js"></script>
	<script type="text/javascript" src="js/libs/backbone.localStorage.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
</body>

</html>