<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
	<meta charset="UTF-8">
	<title>Dungeons &amp; Dice</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.1/jquery.mobile.min.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />

	<!-- Underscore Templates -->

	<!-- Home -->
	<script id="home" type="text/template">
		<div id="menu" data-role="panel" data-display="overlay">
			<ul data-role="listview">
				<li><a href="#quick-roll" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Quick Roll</a></li>
				<li><a id="newroll" href="#roll-new" class="ui-btn ui-btn-icon-right ui-icon-plus">Add Roll</a></li>
			</ul>
		</div>
		<div data-role="header">
			<h1>Dungeons &amp; Dice</h1>
			<a href="#menu" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-icon-notext ui-icon-bars">no text</a>
		</div>
		<div role="main" class="ui-content">
			<ul data-role="listview" data-count-theme="a">
				<% if(collection.length > 0) { %>
					<% _.each(collection, function(roll) { %>
					
						<li data-selectedroll="<%= roll.id %>" class="ui-li-has-alt ui-li-has-count dnd-roll-result">
							<a href="#roll" class="ui-btn">
								<%= roll.DiceRollText %><span class="ui-li-count ui-body-a">-</span></a>
							<a href="#popup-menu<%= roll.id %>" id="btn-popup" data-rel="popup" class="ui-btn ui-btn-icon-notext ui-icon-carat-d ui-btn-a">no text</a>
							<div id="popup-menu<%= roll.id %>" data-role="popup" data-shadow="false" class="ui-popup">
								<div data-role="controlgroup" data-type="horizontal" data-selectedroll="<%= roll.id %>" data-mini="false">
									<a href="#delete" class="ui-btn ui-btn-icon-notext ui-icon-delete ui-btn-a">no text</a>
									<a href="#roll-edit" class="ui-btn ui-btn-icon-notext ui-icon-edit ui-btn-a">no text</a>
								</div>
							</div>
						</li>
									<!-- <a href="#roll-edit" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-bullets">no text</a> -->
					<% }); %>
				<% } else { %>
				<div class="ui-corner-all custom-corners">
					<li>
						<p>Why dont you save some of your more complicated dice rolls</p>
					</li>
				</div>
				<% } %>
			</ul>
		</div>
		
	</script>

	<!-- Popup Menu -->
	<script id="popup-menu"type="text/template">
		
	<a href="#delete" data-rel="popup"></a>
	</script>
	
	<!-- Delete Roll -->
	<script id="delete-roll" type="text/template">
		<div data-role="header">
			<h1>Delete Roll</h1>
			<a href="#" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-icon-notext ui-icon-carat-l">no text</a>
		</div>
		<div role="main" class="ui-content dnd-center">
			<a href="#deleted" class="ui-shadow ui-btn ui-mini ui-corner-all">Confirm</a>
			<a href="#" class="ui-shadow ui-btn ui-mini ui-corner-all">Cancel</a>
		</div>
	</script>

	<!-- Quick Roll -->
	<script id="quick-roll" type="text/template">
		<div data-role="header">
			<h1>Quick Roll</h1>
			<a href="#" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-icon-notext ui-icon-carat-l">no text</a>
		</div>
		<div role="main" class="ui-content dnd-center">
			<div class="ui-body ui-body-a ui-corner-all dnd-roll-result">
				<h1></h1>
			</div>
			<form>
				<fieldset data-role="controlgroup" data-type="horizontal">
					<a href="#quick-roll" data-d="4" class="ui-shadow ui-btn ui-corner-all ui-btn-a">D4</a>
					<a href="#quick-roll" data-d="6" class="ui-shadow ui-btn ui-corner-all ui-btn-a">D6</a>
					<a href="#quick-roll" data-d="8" class="ui-shadow ui-btn ui-corner-all ui-btn-a">D8</a>
					<a href="#quick-roll" data-d="10" class="ui-shadow ui-btn ui-corner-all ui-btn-a">D10</a>
					<a href="#quick-roll" data-d="12" class="ui-shadow ui-btn ui-corner-all ui-btn-a">D12</a>
					<a href="#quick-roll" data-d="20" class="ui-shadow ui-btn ui-corner-all ui-btn-a">D20</a>
					<a href="#quick-roll" data-d="100" class="ui-shadow ui-btn ui-corner-all ui-btn-a">D100</a>
				</fieldset>
			</form>
		</div>
	</script>

	<!-- Roll Details -->
	<script id="roll-details" type="text/template">
		<div data-role="header">
			<h1>Roll Details</h1>
			<a href="#" class="ui-nodisc-icon ui-alt-icon ui-btn ui-btn-icon-notext ui-icon-carat-l">no text</a>
		</div>
		<div role="main" class="ui-content">
			<form>
				<label for="txt-name">Name</label>
				<input type="text" data-clear-btn="true", name="txt-name" value="<%= Name %>">
				<label for="txt-qty">Quantity</label>
				<input type="number" data-clear-btn="true", name="txt-qty" value="<%= DiceRoll.qty %>">
				<fieldset class="dnd-center" data-role="controlgroup" data-type="horizontal">
					<input type="radio" name="radio-d" id="radio-d4" value="4" <% if(DiceRoll.d == 4){ %>checked="checked" <% } %>>
					<label for="radio-d4">D4</label>
					<input type="radio" name="radio-d" id="radio-d6" value="6" <% if(DiceRoll.d == 6){ %>checked="checked" <% } %>>
					<label for="radio-d6">D6</label>
					<input type="radio" name="radio-d" id="radio-d8" value="8" <% if(DiceRoll.d == 8){ %>checked="checked" <% } %>>
					<label for="radio-d8">D8</label>
					<input type="radio" name="radio-d" id="radio-d10" value="10" <% if(DiceRoll.d == 10){ %>checked="checked" <% } %>>
					<label for="radio-d10">D10</label>
					<input type="radio" name="radio-d" id="radio-d12" value="12" <% if(DiceRoll.d == 12){ %>checked="checked" <% } %>>
					<label for="radio-d12">D12</label>
					<input type="radio" name="radio-d" id="radio-d20" value="20" <% if(DiceRoll.d == 20){ %>checked="checked" <% } %>>
					<label for="radio-d20">D20</label>
					<input type="radio" name="radio-d" id="radio-d100" value="100" <% if(DiceRoll.d == 100){ %>checked="checked" <% } %>>
					<label for="radio-d100">D100</label>
				</fieldset>
				<fieldset class="dnd-center" data-role="controlgroup" data-type="horizontal">
					<input type="radio" name="radio-symbol" id="radio-minus" value="minus"<% if(DiceRoll.symbol == "minus"){ %>checked="checked" <% } %>>
					<label for="radio-minus">minus</label>
					<input type="radio" name="radio-symbol" id="radio-plus" value="plus"<% if(DiceRoll.symbol == "plus"){ %>checked="checked" <% } %>>
					<label for="radio-plus">plus</label>
				</fieldset>
				<label for="txtModifier">Modifier</label>
				<input type="number" data-clear-btn="true", name="txt-modifier" value="<%= DiceRoll.modifier %>">
				<a href="#" data-role="button" class="save ui-shadow ui-btn ui-corner-all">Confirm</button></a>
			</form>
		</div>
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/jqm-config.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.1/jquery.mobile.min.js"></script>
	<script type="text/javascript" src="js/libs/underscore-min.js"></script>
	<script type="text/javascript" src="js/libs/backbone-min.js"></script>
	<script type="text/javascript" src="js/libs/backbone.localStorage.js"></script>	
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
</body>

</html>